/* general -------------------------------------------------------------------------------------- */
/*@import url(http://fonts.googleapis.com/css?family=Sancreek&subset=latin-ext);*/

/*@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Overlock&subset=latin,latin-ext);*/

@import url(http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,700&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
    font-size: 100%; 
}
html {
    height: 100%;
}
body {
    background: #ffffff;
    height: 100%;
    font-family: 'Forum', Calibri, sans-serif;
}
h1, h2, h3 {
    font-family: 'Alegreya SC', Georgia, serif;
}
nav li {
    display: inline;
    list-style: none;
}
a {
    color: #000000;
}
a:hover, li:hover, nav ul li:hover {
    text-decoration: none;
}

/* header --------------------------------------------------------------------------------------- */
/* logo */
body > header {
    height: 6em;
    background: #000000;
    color: #d3d3d3;
    position: relative;
}
/* top_menu */
body > header > h1 {
    padding-top: 0.5em;
    text-align: center;
    font-size: 2em;
}
body > header > nav {
    position: absolute;
    bottom: 0;
    background: #333333;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}
body > header > nav li {
    background: #333333;
    padding: 0.5em 1em;
    border-left: 1px solid #666666;
}
body > header > nav li:first-child {
    border-left: 0;
}
body > header > nav li:hover, body > header > nav li.active {
    background: #666666;
}
li.active a {
    text-decoration: none;
}
body > header > nav li a {
    color: #d3d3d3;
}

/* main content --------------------------------------------------------------------------------- */
#content {
    margin-left: 10em;
    margin-right: 10em;
    min-height: 30em;
}
#content > header h1 {
    font-size: 1.5em;
    border-bottom: 1px solid #333333;
}

/* right side ------------------------------------------------------------------------------------ */
#right {
    float: right;
    width: 15em;
    border-left: 1px solid #333333;
    background: #ffffff;
}
#right div {
    padding-left: 0.5em;
}
#right section > div > header h1 {
    font-size: 1.5em;
}
#right nav li {
    display: block;
    padding: 0.1em 0.5em;
    text-decoration: underline;
}
#right nav li:hover, #right nav li.active {
    text-decoration: none;
    background: transparent url('../img/icon-link-black.png') no-repeat 0.5em 0.35em;
    padding-left: 1em;
    cursor: pointer;
}
#right h1 a {
    color: #000000;
}
#right nav h1 {
    text-decoration: underline;
}
#right nav h1:hover {
    cursor: pointer;
    text-decoration: none;
}
#right > section {
    border-bottom: 1px solid #333333;
}

/* hot jobs ------------------------------------------------------------------------------------- */
#hot_jobs {
    min-height: 10em;
}

/* hot jobs ------------------------------------------------------------------------------------- */
#submenu nav ul, .submenu nav ul {
    display: block;
    padding-bottom: 0.5em;
    border: 0;
}

/* available people ----------------------------------------------------------------------------- */
#available_people {
    min-height: 10em;
}
#available_people nav ul {
    border-bottom: 1px solid #333333;
    display: none;
}

/* footer --------------------------------------------------------------------------------------- */
footer {
    background: #000000;
    color: #d3d3d3;
    text-align: center;
}
footer #trace {
    font-size: 0.75em;
}

/* popup ---------------------------------------------------------------------------------------- */
#popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
    display: none;
}
#popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 480px;
    margin-top: -240px;
    margin-left: -320px;
    /*background: #ffa54f;*/
    background: #fffafa;
    /*border: 3px solid #bb610b;*/
    border: 1px solid #000000;
    padding: 0.5em;
}
#popup_close_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: #000;
}